<ul>
  <li>
    <a href="/catalog/items">Items</a>
  </li>
  <li>
    <a href="/catalog/categories">Categories</a>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <a href="/catalog/category/create">Add New Category</a>
  </li>
  <li>
    <a href="/catalog/item/create">Add New Item</a>
  </li>
</ul>
