<div class="row center-align" style="margin-top: 1rem">
  <div class="col s12">
    <ul class="collection">
      <li class="collection-item">
        <a href="/catalog/items">Items</a>
      </li>
      <li class="collection-item">
        <a href="/catalog/categories">Categories</a>
      </li>
      <li class="collection-item">
        <a href="/catalog/category/create">Add New Category</a>
      </li>
      <li class="collection-item">
        <a href="/catalog/item/create">Add New Item</a>
      </li>
    </ul>
  </div>
</div>
