<!DOCTYPE html>
<html>
  <%- include('./partials/head', {title}) %>
  <body class="grey lighten-4">
    <%- include('./partials/header',{title}) %>

    <div class="row">
      <div class="col m3"><%- include('./partials/sidenav') %></div>
      <div class="col s12 m9">
        <div class="col s12">
          <h2>Items</h2>
        </div>

        <div class="col s12">
          <ul>
            <% items.forEach(item => { %>
            <li><%- include('./partials/item-card', {item}) %></li>
            <% }) %>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
